<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" property="og:title" content="Sejong Yang's Homepage (YangSpace)">
    <meta name="type" property="og:type" content="website">
    <meta name="image" property="og:image" content="https://avatars.githubusercontent.com/u/13496612?v=4">
    <meta name="description" property="og:description" content="Sejong Yang's Homepage (YangSpace)">
    <meta name="author" content="Sejong Yang">
    <meta name="url" property="og:url" content="https://yangspace.co.kr">
    <link rel="shortcut icon"
        href="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=qnIiorsAAAAJ&citpid=2">
    <title>Sejong Yang</title>
  </head>
  <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/pubs">Publications</a>
            <a href="/projects">Projects</a>
            <a href="/blog">Blog</a>
        </div>
    {{ content }}
  </body>
</html>