<div class="topnav">
    <a href="/">Home</a>
    <a href="/pubs">Publications</a>
    <a href="/projects">Projects</a>
    <a class="active" href="/blog">Blog</a>
</div>
<style>
    /* NavBar */
    .topnav {
        background-color: #424242;
        overflow: hidden;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: black;
        color: white;
    }
</style>